{% extends "base.html.twig" %}

{% block title %}
	Home Page
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue chez TOUT CHAUD !</h1>
			<p class="lead">lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, adipisci alias aliquid amet aperiam asperiores aspernatur atque autem beatae blanditiis commodi consequatur consequuntur corporis cumque cupiditate delectus deleniti dicta dignissimos dolor doloremque doloribus ducimus ea.</p>
			<hr class="my-4">
			<p>lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</div>
	</div>
{% endblock %}
